<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-left">
      &copy; 2014 - <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>&nbsp;|&nbsp;
      <%= __('theme_by') %> <a href="https://github.com/giscafer/hexo-theme-cafe/" target="_blank">Cafe</a>
      <a href="https://www.ucloud.cn/" target="_blank" title="本站服务器由Ucloud赞助">
        <img src="https://diycode.b0.upaiyun.com/photo/2017/b6c68f3511118625d9a42077cef1925d.png" alt="Ucloud">
      </a>
    </div>
     <div id="footer-right">
      <%= __('contact') %>&nbsp;|&nbsp;<%= config.email || theme.email  || config.url %>
    </div>
  </div>
</footer>
 <%- js('jquery/jquery.min.js') %>